<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/icon.ico">
    <title>Admin Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="max-h-screen">
    <section class="border-red-500 bg-gray-200 min-h-screen flex items-center justify-center">
        <div class="bg-gray-100 p-5 flex items-center rounded-2xl shadow-lg max-w-3xl">
            <div class="md:w-1/2 px-5">
                <h2 class="text-2xl font-bold text-[#002D74]">Admin Signup</h2>
                <p class="text-sm mt-4 text-[#002D74]">If you don't have an account, please signup</p>
                <form class="mt-6" method="POST" action="/register">
                    <div>
                        <label class="block text-gray-700">Name:</label>
                        <input type="text" name="name" placeholder="Enter Full Name" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-green-500 focus:bg-white focus:outline-none" autofocus autocomplete required>
                    </div>
                    <div>
                        <label class="block text-gray-700">Email:</label>
                        <input type="email" name="email" placeholder='Enter email Address' class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-green-500 focus:bg-white focus:outline-none" required>
                    </div>
                    <div>
                        <label class="block text-gray-700">Phone:</label>
                        <input type="text" name="phone" placeholder='Enter Phone number' class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-green-500 focus:bg-white focus:outline-none" required>
                    </div>
                    
                    <div>
                        <label class="block text-gray-700">Password:</label>
                        <input type="password" name="password" placeholder='Enter Password' class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-green-500 focus:bg-white focus:outline-none" required>
                    </div>
                    
                    <div>
                        <label class="block text-gray-700">Confirm Password:</label>
                        <input type="password" name="confirm_password" placeholder='Enter confirm password' class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-green-500 focus:bg-white focus:outline-none" required>
                    </div>
                    
                    <button type="submit" class="w-full block bg-green-800 hover:bg-green-700 focus:bg-green-400 text-white font-semibold rounded-lg
                        px-4 py-3 mt-6" >SignUp</button>
                </form>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div>{{ message }}</div>
                {% endfor %}
                <div class="mt-7 grid grid-cols-3 items-center text-gray-500">
                    <hr class="border-gray-500" />
                    <p class="text-center text-sm">OR</p>
                    <hr class="border-gray-500" />
                </div>
                <div class="text-sm flex justify-between items-center mt-3">
                    <p>Already have an account...</p>
                    <a href="/login" class="py-2 px-5 ml-3 bg-white border rounded-xl hover:scale-110 duration-300 border-green-700  ">Back to Login</a>
                </div>
            </div>
            <div class="w-1/2 md:block hidden">
                <img class='shadow-xl rounded-2xl' src="../static/img/signup.png" class="rounded-2xl" alt="page img">
            </div>
        </div>
    </section>
</body>
</html>
